<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1 col-sd-offset-1 col-lg-offset-1">
            <table class="table table-sm table-striped" id="myDataTable">
                <thead>
                    <tr style="font-size:small; font-weight:bold">
                        <th>Från diameter (centrumhål)</th>
                        <th>Till diameter</th>
                        <th>Återanvändbar %</th>
                        <th>Ändra</th>
                    </tr>
                </thead>                
                <tbody>
                    @foreach (var item in ViewBag.rmList)
                    {
                    <tr style="font-size:small">
                        <td>
                            @item.minDiam
                        </td>
                        <td>
                            @item.maxDiam
                        </td>

                        <td>@item.reusePercentage</td>
                        <td>
                            <a href="#" onclick="selectReuseMat(@item.reuseMatId)"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
        var oTable;
        $(function () {
            oTable = $("#myDataTable").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Swedish.json"
                }
            });
        });



</script>



